
#map {
  height: 500px;
  width: 950px;
}

.hero {
  position: relative;
  margin: 0;
}

.hero h1 {
  height: 250px;
  margin-top: 40px; 
  margin-bottom: 40px;  
  font-size: 4rem;
  color: rgb(245, 247, 248); 
  animation: title 1.2s forwards linear;
  background-image: url("../img/airplane.jpg");
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1500px 350px;
}

@keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 4.5rem;
    opacity: 1;
  }
}

@keyframes smaller-title {
  from {
    opacity: 0;
  }

  to {
    font-size: 5.5rem;
    opacity: 1;
  }
}

.accordion {
  background-color: white;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: azure;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
} 

.header {
padding-top: 40px;
color: rgb(0, 132, 255);
text-align: center;
}